/****** General ******/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

h1 {
    font-size: 22px;
    margin-bottom: 8px;
    margin-top: 0;
}

h3 {
    margin: 0;
    font-size: 18px;
}

p {
    font-size: 16px;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
/* Toute la page */
    display: flex;
    justify-content: center;
}

.conteneur-principal {
/* Toutes les rubriques de la page (header, main, footer) */
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    max-width: 1440px;
    min-width: 320px;
    padding: 0 50px;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/****** Header ******/

header {
    display: flex;
    flex-wrap: nowrap;
    height: 79px;
    justify-content: space-between;
}

#logo {
    display: block;
    height: 19px;
    width: auto;
    margin: 30px 50px 30px 0;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 68px;
}

.nav-conteneur {
/* Le conteneur du lien */
    display: flex;
    height: 35px;
    align-items: end;
    font-size: 16px;
    border-top: 2px white solid;
}

.nav-conteneur a {
/* Le lien contenu dans le conteneur */
    padding-top: 16px;
}

.nav-conteneur:hover{
    border-top: 2px #0065FC solid;
    color:#0065FC;
}

/****** Main info-groupe ******/

.info-groupe {
/* Texte d'intro, promesse et finalité du site */
    display: flex;
    flex-direction: column;
    gap: 35px;
}

/****** Main info-groupe -> formulaire ***********/

form {
/* L'ensemble du formulaire */
    display: flex;
    justify-content: left;
    height: 49px;
}

.formulaire-btn-picto {
/* Version du formulaire avec le bouton de recherche sous forme de loupe */
    display: flex;
}

.picto-localisation-conteneur {
/* Le conteneur qui contient le picto de localisation */
    background-color: #F2F2F2;
    border: 1px #F2F2F2 solid;
    border-bottom: 1px #F2F2F2 solid;
    border-radius: 15px 0 0 15px;
    width: 47px;
    height: 47px;
}

.fa-location-dot {
/* Le picto de localisation */
    width: 14px;
    height: 18px;
    margin-top: 15px;
    margin-left: 18px;
    margin-right: 18px;
    margin-bottom: 16px;
    color: black;
}

.input {
/* La zone de saisie de la ville pour laquelle on souhaite faire une recherche */
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    padding-top: 14px;
    padding-bottom: 14px;
    border: 1px #F2F2F2 solid;
}

button {
/* Le bouton qui lance la recherche */
    color:#FFFFFF;
    font-weight: 700;
    font-size: 18px;
    background-color: #0065FC;
    padding: 14px 16px 14px 16px;
    border: 1px #0065FC solid;
    border-radius: 0 15px 15px 0;
}

button:hover {
    cursor: pointer;
}

.fa-magnifying-glass {
    color: #FFFFFF;
}

.btn-picto {
/* Le bouton de recherche prend la forme d'un picto (affiché uniquement en version mobile) */
    width: 51px;
    height: 51px;
    border-radius: 15px;
    padding: 15px;
    display: none;
    border: 1px #0065FC solid;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

/****** Main info-groupe -> filtres ******/

.section-filtres {
/* L'ingralité de la zone qui concerne les filtres */
    display: flex;
    gap: 15px;
    align-items: center;
}

.filtre-titre h3 {
/* Le titre de la section filtre */
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    align-content: center;
}

.filtre-grand-conteneur {
/* Regroupe tous les filtres */
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.filtre-petit-conteneur {
/* Regroupe les filtres par 2 */
    display: flex;
    gap: 15px;
    height: 50px;
}

.filtre {
/* Bouton qui permet de filtrer */
    display: flex;
    font-size: 17px;
    font-weight: 700;
    border: 2px #D9D9D9 solid;
    border-radius: 25px;
    padding: 4px 19px 4px 19px;
    align-items: center;
    text-wrap: nowrap;
    gap: 10px;
}

.filtre p {
/* Texte qui se trouve à l'intérieur du bouton qui permet de filtrer */
    font-size: 17px;
}

.filtre:hover {
    background-color: #DEEBFF;
    cursor: pointer;
}

/****** Main info-groupe -> barre d'info *******/

.info-bar {
/* Texte explicatif associé à la recherche */
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
}

.info-bar img {
/* Picto qui se trouve à gauche du texte explicatif */
    height: 24px;
    width: 24px;
}

/****** Hebergements et Populaires ***********/

.section-titre {
    margin: 0;
    font-size: 22px;
}

.carte {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.carte-activite {
/* Particularités appliquées aux cartes contenues dans la rubrique des activités */
    background-color: white;
    border-radius: 20px;
    padding: 0;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.carte img {
/* Photo contenue dans la carte */
    object-fit: cover;
}

.carte-titre {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color);
}

.hebergements-et-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-et-populaires section {
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

/****** Hebergements ******/

.hebergements {
    width: 65%;
    gap: 30px;
    background-color: #F2F2F2;
}

.hebergements-cartes-part {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.hebergements .carte {
    display: flex;
    flex-direction: column;
    height: 223px;
    padding: 5px;
}

.hebergements .carte img {
    height: 60%;
    max-height: 120px;
    width: 100%;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
    object-fit: cover;
    padding-bottom: 5px;
}

.hebergements .carte-contenu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40%;
    margin-top: 4px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.hebergements-cartes-part > * {
    flex: 1 1 0;
}

.hebergements-cartes-part .carte-titre {
    margin-bottom: 4px;
    margin-top: 0;
}

.hebergements-cartes-part .carte-sous-titre {
    margin-bottom: 1px;
    font-size: 14px;
}

.hebergements-cartes-part .carte-rating {
    margin-bottom: 0;
}

/****** Populaires ******/

.populaires {
    width: 32%;
    display: flex;
    gap: 30px;
    background-color: #F2F2F2;
}

.populaires-titre {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cartes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

.populaires-cartes .carte {
    display: flex;
}

.populaires-cartes img {
    width: 33%;
    height: 146px;
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
}

.populaires-cartes .carte-contenu {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cartes .carte-titre {
    margin-top: 10px;
    margin-bottom: 8px;
}

.populaires-cartes .carte-sous-titre {
    margin: 0;
    font-size: 14px;
}

.populaires-cartes .carte-rating {
    margin-bottom: 5px;
}

/****** Activités ******/

.activites {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
}

.conteneur-activite {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.carte-activite {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.carte-activite img {
    width: 100%;
    height: 90%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.carte-activite .carte-titre {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 20px 19px 20px 19px;
    display: flex;
    height: 10%;
    min-height: 46px;
    align-items: center;
}

.conteneur-activite > * {
    flex: 1 1 0;
}

/****** Footer ***********/

.conteneur-footer {
    display: flex;
    flex-direction: row;
    height: 163px;
    width: 100%;
    align-items: start;
    background-color:#F2F2F2;
}

.conteneur-footer > * {
    flex: 1 1 0;
}

.section-footer {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */

@media (max-width: 1024px) {
    .section-filtres {
        flex-direction: column;
        align-items: start;
    }

    .filtre-titre {
        font-size: 18px;
    }

    .filtre p {
        flex-wrap: nowrap;
        font-size: 16px;
    }

    .hebergements-et-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .hebergements .carte img {
        max-height: none;
        min-height: 115px;
    }

    .hebergements-cartes-part .carte-titre {
        margin-bottom: 8px;
        margin-top: 0;
    }
    
    .hebergements-cartes-part .carte-sous-titre {
        margin-bottom: 8px;
        font-size: 14px;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cartes {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cartes a {
        width: 30%;
    }

    .populaires-cartes .carte-titre {
        font-size: 16px;
    }

    .carte-activite img {
        height: 90%;
        max-height: 200px;
    }

    .conteneur-footer {
        height: 184px;
    }
}

/* Small devices (phones, less than 768px) */

@media (max-width: 767.98px) {
    main {
        gap: 35px;
    }
    
    .conteneur-principal {
        padding: 0;
    }

    header {
        flex-direction: column;
        height: 115px;
        align-items: center;
    }

    #logo {
        margin: 30px;
    }

    nav {
        gap: 0;
        width: 100%;
        justify-content: space-around;
    }

    .nav-conteneur {
        border-top: 0;
        width: 50%;
        text-align: center;
        border-bottom: 2px #F2F2F2 solid;
    }

    .nav-conteneur a {
        width: 100%;
        padding-top: 0;
        padding-bottom: 15px;
    }

    .nav-conteneur:hover{
        border-top: 0 #0065FC solid;
        border-bottom: 2px #0065FC solid;
        color:#0065FC;
    }

    .info-groupe {
        padding-left: 20px;
        padding-right: 20px;
    }

    .btn-texte{
        display: none;
    }

    .picto-recherche {
        display:block;
    }

    .btn-picto {
        display:block;
    }

    form {
        margin: auto;
    }

    .input {
        margin-right: -10px;
        max-width: 55vw;
    }

    .section-filtres {
        flex-direction: column;
        align-items: start;
        gap: 20px;
    }

    .filtre-grand-conteneur {
        flex-direction: column;
        gap: 20px;
        margin: auto;
    }

    .filtre {
        width: 29vw;
        justify-content: center;
    }

    .filtre p {
        font-size: 14px;
    }

    .hebergements-et-populaires {
        gap: 15px;
    }

    .hebergements-et-populaires section {
        border-radius: 0;
        padding: 20px;
    }

    .hebergements {
        order: 2;
        gap: 15px;
        background-color: white;
    }

    .hebergements-cartes-part {
        flex-direction: column;
        margin: auto;
        gap: 15px;
    }

    .hebergements-cartes-part a {
        width: 80vw;
        max-width: 450px;
    }

    .populaires {
        margin-top: 0;
        gap: 15px;
    }

    .populaires-cartes {
        flex-direction: column;
        margin: auto;
        gap: 15px;
    }

    .populaires-cartes a {
        width: 80vw;
        max-width: 450px;
    }

    .conteneur-activite {
        flex-direction: column;
        margin: auto;
        gap: 15px;
        width: 80vw;
        max-width: 450px;
    }

    .activites img {
        height: 90%;
    }

    .carte-activite .carte-titre {
        height: 10%;
    }

    .conteneur-footer {
        flex-direction: column;
        height: 100%;
    }

}